---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Testimonials from '../components/Testimonials.astro';
import CLI from '../components/CLI.astro';
import Footer from '../components/Footer.astro';
import { resume } from '../data/resume';
---

<Layout title={`${resume.basics.name} | ${resume.basics.label}`}>
	<Navbar />
	<main>
		<Hero />
		<Skills />
		<Experience />
		<Projects />
        <Testimonials />
        <CLI />
	</main>
    <Footer />
</Layout>
